@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	/* zink 950 */
	--background: oklch(0.141 0.005 285.823);

	/*zink-900  */
	--foreground: oklch(0.21 0.006 285.885);

	/* indigo 800 */
	--primary: oklch(0.398 0.195 277.366);

	/* zink 300*/
	--secondary:oklch(0.871 0.006 286.286);
	
	/* zink 500*/
	--secondary-dark:oklch(0.442 0.017 285.786);

	/* zinc 800 */
	--secondary-heavy: oklch(0.274 0.006 286.033);
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../public/fonts/eot/iranyekanwebboldfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebboldfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('../public/fonts/eot/iranyekanwebthinfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebthinfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../public/fonts/eot/iranyekanweblightfanum.eot');
	src: url('../public/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanweblightfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanweblightfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../public/fonts/eot/iranyekanwebregularfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebregularfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../public/fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebmediumfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../public/fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebextraboldfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../public/fonts/eot/iranyekanwebblackfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebblackfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebblackfanum.ttf')
			format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('../public/fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('../public/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */ url('../public/fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../public/fonts/ttf/iranyekanwebextrablackfanum.ttf')
			format('truetype');
}

@theme {
	--font-iranyekan: iranyekan, Helvetica, sans-serif;
	--text-dark-primary: ;
}

html[dir='rtl'] {
	direction: rtl;
	text-align: right;
}

html[dir='ltr'] {
	direction: ltr;
	text-align: left;
}

html[dir='rtl'] body {
	font-family: iranyekan, Helvetica, sans-serif;
}

html[dir='ltr'] body {
	font-family: 'Poppins', Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 28px var(--foreground) inset !important;
	-webkit-text-fill-color: var(--secondary) !important;
}

.root-layout {
	@apply antialiased max-w-screen bg-zinc-100 dark:bg-[var(--background)] dark:text-[var(--secondary)];
}


.button-primary {
	@apply p-2 text-[0px] cursor-pointer shadow-md dark:shadow-black rounded-xl ;
	@apply flex items-center justify-center;
	@apply bg-zinc-200 dark:bg-[var(--foreground)] border border-zinc-300 dark:border-[var(--secondary-heavy)]
}

.dropdown-container {
	@apply font-iranyekan overflow-hidden *:p-3  rounded-xl *:hover:bg-gray-100 dark:*:hover:bg-[var(--background)];
	@apply flex flex-col *:flex shadow-md;
	@apply bg-white dark:bg-[var(--foreground)];
	@apply divide-y divide-zinc-200 dark:divide-[var(--secondary-heavy)] border dark:border-[var(--secondary-heavy)] border-zinc-200;
}

.input-wrapper {
	@apply flex items-center w-full rounded-xl overflow-hidden dark:bg-[var(--foreground)];
	@apply border dark:border-[var(--secondary-heavy)] border-zinc-200 pl-2;
}


.text-input {
	@apply w-[calc(100%-2rem)] px-2 py-1 outline-0 ;
}